<!DOCTYPE html>
<html>
<head>
<title>Flip</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!-- <link href="/microgravity-public/dev/commercial_temp/flip/style.css" rel="stylesheet" /> -->
<link href="./style.css" rel="stylesheet" />
<style>
    .product:nth-child(3) > p{
        margin:auto !important;
        /* position:absolute !important; */
        top:0 !important;left:0;bottom:0;right:0;
        /* height:100px; */
        transform:none;
        transition:all 3s;
    }
    .ani{
        transform:scale(1) rotate(360deg) !important;
    }
</style>
</head>
<body>

    <div id="cubeTransition">
        {{#data}}
        <div class="product">
            <header>{{productCode}}</header>
            <p>商品编号: {{productCode}}</p>
            <p>商品名称: {{productName}}</p>
            <p>配件编号: {{partsCode}}</p>
            <p>配件名称: {{partsName}}</p>
            <p>配件品牌: {{partsBrandName}}</p>
            <p>配件类别: {{partsType}}</p>
            <p>库存: {{productInventory}}</p>
        </div>
        {{/data}}
    </div>

<ul id="bullets"></ul>

<!-- <script src='/microgravity-public/dev/commercial_temp/flip/jquery.min.js'></script> -->
<script src='./jquery.min.js'></script>
<script>
    function animationIn(i){
        switch(i) {
            case 0:
                $('.product').eq(i).find('p').fadeIn();
                break;
            case 1:
                $('.product').eq(i).find('p').animate({top:'30%',left:'2em'},1000);
                break;
            case 2:
                setTimeout(function(){
                    $('.product').eq(i).find('p').addClass('ani')
                },0)
                break;
            default:
                ;
        }
    }

    function animationOut(i){
        switch(i) {
            case 0:
                $('.product').eq(i).find('p').fadeOut();
                break;
            case 1:
                $('.product').eq(i).find('p').animate({top:0,left:0},1000);
                break;
            case 2:
                $('.product').eq(i).find('p').removeClass('ani')
                break;
            default:
                ;
        }
    }
</script>
<!-- <script src='/microgravity-public/dev/commercial_temp/flip/mousewheel.js'></script>
<script src="/microgravity-public/dev/commercial_temp/flip/jquery.touchSwipe.js"></script>
<script src="/microgravity-public/dev/commercial_temp/flip/cubeTransition.js"></script> -->
<script src='./mousewheel.js'></script>
<script src="./jquery.touchSwipe.js"></script>
<script src="./cubeTransition.js"></script>
</body>
</html>
