<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <link rel="stylesheet" href="/microgravity-public/dev/commercial_temp/first/jquery.fullpage.min.css">
	<link rel="stylesheet" href="/microgravity-public/dev/commercial_temp/first/first.css"> -->


	<link rel="stylesheet" href="./jquery.fullpage.min.css">
	<link rel="stylesheet" href="./first.css">
	<title>Document</title>
</head>
<body>
	<div class="container">
		<div class="section">
			<div class="product-info">
				<h3>商品信息</h3>
				<ul>
					<li>商品编号: ABC1111</li>
					<li>商品名称: 发动机</li>
					<li>商品编号: ABC111</li>
					<li>商品名称: 发动机</li>
					<li>配件品牌: 大众</li>
					<li>配件类别: 主机原厂件</li>
					<li>价&emsp;&emsp;格: 100</li>
				</ul>
			</div>
		</div>
		<div class="section">
			<div class="product-info">
				<h3>商品信息</h3>
				<ul>
					<li>商品编号: ABC222</li>
					<li>商品名称: 发动机222</li>
					<li>配件编号: ABC222</li>
					<li>配件名称: 发动机222</li>
					<li>配件品牌: 大众222</li>
					<li>配件类别: 主机原厂件222</li>
					<li>价&emsp;&emsp;格: 100</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="bottom-tip">

	</div>
	<div class="bottom">

	</div>

	<!-- <script src="/microgravity-public/dev/commercial_temp/first/jquery.min.js"></script>
	<script src="/microgravity-public/dev/commercial_temp/first/jquery.fullpage.min.js"></script>
	<script src="/microgravity-public/dev/commercial_temp/first/first.js"></script> -->


	<script src="./jquery.min.js"></script>
	<script src="./jquery.fullpage.min.js"></script>
	<script src="./first.js"></script>
</body>
</html>
