<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/microgravity-public/dev/commercial_temp/first/jquery.fullpage.min.css">
	<link rel="stylesheet" href="/microgravity-public/dev/commercial_temp/first/first.css">


	<!-- <link rel="stylesheet" href="./jquery.fullpage.min.css">
	<link rel="stylesheet" href="./first.css"> -->
	<title>Document</title>
</head>
<body>
	<div class="container">
		{{#data}}
		<div class="section">
			<div class="product-info">
				<h3>商品信息</h3>
				<ul>
					<li>商品编号: {{productCode}}</li>
					<li>商品名称: {{productName}}</li>
					<li>配件编号: {{partsCode}}</li>
					<li>配件名称: {{partsName}}</li>
					<li>配件品牌: {{partsBrandName}}</li>
					<li>配件类别: <span>{{partsType}}</span></li>
					<li>价&emsp;&emsp;格: {{redPrice}}</li>
				</ul>
			</div>
		</div>
		{{/data}}
	</div>
	<script src="/microgravity-public/dev/commercial_temp/first/jquery.min.js"></script>
	<script src="/microgravity-public/dev/commercial_temp/first/jquery.fullpage.min.js"></script>
	<script src="/microgravity-public/dev/commercial_temp/first/first.js"></script>


	<!-- <script src="./jquery.min.js"></script>
	<script src="./jquery.fullpage.min.js"></script>
	<script src="./first.js"></script> -->
</body>
</html>
