body{
	overflow-y:inner;
}
.wrapper{
	overflow-y:hidden;
}
ul>li merchant{
	font-weight:bold;
}
ul>li role{
	margin-left:5px;
}
.btn-change{
	width:100px;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 10px !important;
}
.navbar-nav .merchant-menu{
	padding:5px;
	margin-top:10px;
}