.box-header {
    display: none;
}
.box {
    border-top: none;
}
.reset {
    padding: 0;
}
tr>th,tr>td {
    display: block;
    border: 1px solid #ddd;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: 'Microsoft Yahei';
    font-weight: normal;
}
tr {
    float:left;
}
.sep-row {
    width: 10px;
    height: 10px;
}
table.table-bordered th:last-child, table.table-bordered td:last-child {
    border-right-width: 1px;
}