.search {
    display: none;
}
.sep-row {
    height: 25px;
}
.hide-ele {
    display: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
}
.fa-minus-square,.fa-plus-square {
    font-size: 16px;
    color: rgb(60,141,181);
}
table{
    border-collapse: inherit;
}
table.table-bordered tbody th, table.table-bordered tbody td {
    border-bottom-width: 1px ;
}
.order_head{
    background-color: #f9f9f9;
}
.shrink td {
    padding: 2px !important;
}