.box-white{
	padding: 0 20px;
}
#join_table_filter, #join_apply_table_filter{
	display:none;
}
#join_table td>a{
	text-decoration: underline;
	padding-bottom:2px;
}
#join_table a.has-strategy{
	color:#dd4b39;
}
.btn-primary{
	margin-left:15px;
}
#create_apply_supplier{
	height:150px;
}
.supply-close, .supply-open{
	font-size:15px;
	cursor:pointer;
	font-weight:bold;
}
.supply-close:hover, .supply-open:hover{
	color:#052bef;
}
.supply-close:active, .supply-open:active{
	color:#052bef;
}
.merchant-th{
	width:265px !important;
}
.address-th{
	width:150px !important;
}