*{
	/* touch-action: none; */
}
header{
	background: #3c8dbc;
	color: white;
	padding: 5px 15px;
	border-radius: 5px 5px 0 0;
}
header span{
	display: block;
	position: absolute;
	right: 10px;
	top: 18px;
	max-width: 230px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
header h3{
	margin: 10px 5px;
}
/* body{
	margin: 0;
} */
#header h2{
	font-size: 14px ;
	font-weight: normal;
	margin: 0 ;
	background-color: #fff ;
	line-height: 30px;
	text-align: left ;
}
select{
	height: 2.5rem;
	outline: none;
}
iframe{
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
}
.buttonContainer{
	position: absolute;
	bottom: 0vh;
	width: 100%;
}
.buttonContainer > button{
	width: 8rem;
	float: right;
	margin-right: 1rem;
}
.ui-field-contain > div{
	text-align: center;
}
#filter-menu{
	max-height: 100px;
}
.text-nowrap{
	overflow: hidden;
	white-space: nowrap;
}
.content {
	width: 90%;
	border: 1px solid #ccc;
	margin: 2vh auto;
	height: 20vh;
	padding: 10px;
}
div.p{
	margin-top: 2%;
}
.container{
	max-height: 70vh;
	overflow-y: auto;
}
