body{
	margin: 0;
	font-size: 14px;
}
header{
	background: #3c8dbc;
	color: white;
	padding: 5px 15px;
	border-radius: 5px 5px 0 0;
}
header span{
	display: block;
	position: absolute;
	right: 10px;
	top: 18px;
	max-width: 230px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
h3{
	margin: 10px 5px;
}
section{
	overflow: hidden;
}
form > div{
	overflow: hidden;
}
.form-group{
	margin-bottom: 3px;
}
table th{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dataTables_scrollBody{
	/* overflow-y: hidden !important; */
}
table input{
	border: none;
	outline: none;
	max-width: 100px;
}
