body{
	margin: 0;
	padding: 0 .2em;
	background: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
input{
	outline: none;
}
#header{
	background: #fff;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}
#header h3{
	margin: 10px 5px;
	text-align: center;
	font-size: 1.2em;
	height: 5vh;
	line-height: 5vh;
}
.clone, .noMoreDataTip{
	display: none;
}
.container{
	font-size: 14px;
	max-height: 85vh;
	overflow-y: auto;
}
.container .resultPart, .popupInfo{
	background: #fff;
	margin: .5em;
	padding: .5em .5em;
	border-radius: .3em;
	position: relative;
}
.searchHistory{
	padding: .5em;
	margin: .5em;
	background: #fff;
}
a.close-popup, a.editBtn{
	width: 47%;
}
a.editBtn{
	float: left;
	margin-top: 15px;
	margin-left: 1.5%;
}
a.close-popup{
	float: right;
	margin-right: 1.5%;
}
