.paging{
	background: #fff;
}
#header{
	background: #fff;
	padding: 5px 15px;
	text-align: center;
	height: 7vh;
}
#header h2{
	margin: 10px 5px;
	line-height: 0;
	font-size: 1.2em;
}
select{
	height: 2.5rem;
	outline: none;
}
.ui-field-contain > div{
	text-align: center;
}
#filter-menu{
	max-height: 100px;
}
.text-nowrap{
	overflow: hidden;
	white-space: nowrap;
}
.content {
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin: 2vh auto;
	/* height: 20vh; */
	padding: 10px;
	overflow: hidden;
}
div.p{
	margin-top: 2%;
}
.container{
	max-height: 90vh;
	overflow-y: auto;
}
div.p p,div.p1 p{
	margin-bottom: 0;
	float: left;
	margin-right: 3vw;
}
