/* *{
	touch-action: none;
	} */
	input{
	outline: none;
}
.paging{
	background: #fff;
}
#header{
	background: #fff;
	/* padding: 5px 15px; */
	border-radius: 5px 5px 0 0;
	border-bottom: 2px solid #ccc;
}
#header header{
	border-bottom: 1px solid #ccc;
}
#header h3{
	margin: 10px 5px;
	text-align: center;
	font-size: 1.2em;
	height: 5vh;
}
/* body{
	margin: 0;
} */
.select{
	padding: 10px 15px !important;
	line-height: 25px;
	background: #fff;
}
.select label{
	float: left;
	margin: 13px 20px 0 0 ;
}
.text-nowrap{
	overflow: hidden;
	white-space: nowrap;
}
.needPart{
	/* border: 1px solid #ccc; */
	margin: 2rem 5rem;
	padding: 1rem;
	border-radius: 5px;
}
.resultContainer{
	border-top: 1px solid #ccc;
}
.resultPart{
	/* border: 1px solid #ccc; */
	margin: 2rem 2rem 2rem 5rem;
	padding: 1rem;
	border-radius: 5px;
	overflow: hidden;
}
.resultPart p{
	float: left;
	margin-right: 2vw;
}
.resultDiv{
	position: relative;
}
.ui-radio,.resultDiv input{
	position: absolute;
	top: 15%;
	left: 5%;
	width: 18px;
}
.needDiv{
	position: relative;
}
.previous, .next{
	position: absolute;
	width: 4rem;
	top: 0;
}
.previous button, .next button{
	padding-left: 0;
	bottom: 0;
}
.previous{
	left: 3%;
}
.next{
	right: 1%;
}
.clone{
	display: none !important;
}
.container{
	max-height: 70vh;
	overflow-y: auto;
}
.show{
	position: absolute !important;
	bottom: 2vh;
}
.quantity{
	position: absolute;
	right: 1vh;
	bottom: -4vh;
}
.quantity button, .quantity div{
	float: left;
}
.quantity .ui-icon-plus{
	margin-left: 0.7em;
}
.quantity div{
	width: 10vw;
	height: 4vh;
	/* margin-top: 12px; */
}
.quantity div input{
	width: 10vw;
	height: 4vh;
	margin-left: 9vw;
}
.quantity button{
	font-size: 14px;
}
