.box,.box-footer {
	background-color: #ecf0f5;
}
.box-white{
	background-color:#fff;
}
.upload-area{
	padding:10px;
}
.upload-file-area{
	border:2px solid #00c0ef !important;
	height:100px !important;
}
.upload-file-area{
	border:2px solid #00c0ef !important;
	height:100px !important;
}
.upload-file-frame{
	margin-right:15px;
	margin-top:15px;
	height:215px !important;
	padding:0;
}
.uploaded-table{
	height:300px !important;
}
#received_table_length, #sent_table_length{
	display:none;
}
#received_table .btn, #sent_table .btn{
	margin:0;
	margin-left:5px;
	width:45%;
}
.message-title{
	font-weight:bold;
}
.message-title:hover{
	text-decoration: underline;
	color:#555;
}
.message-view .receiver{
	font-size:12px;
	font-weight:bold;
}
.message-content{
	padding:20px;
	border:1px solid #ccc;
}
.attachment-content .attachment-table{
	height:300px;
	margin:10px;
	margin-left:0;
}
.box-footer .down-tpl{
	margin-top:10px;
	color:#0321bb;
}
.box-footer .down-tpl a:hover{
	color:#0886ce;
}