.search{
	padding:5px 25px;
}

.rule-tool{
	margin:0;
	padding:0;
	width:48px;
	position:relative;
	display:inline-block;
	height:400px;
}
.roul-li{
	position: relative;
	height: 26px;
}
.rule-code{
	position: absolute;
	left: 20px;
	top:0;
	height: 100%;
	line-height: 26px;
}
.rule-box{
	outline-style: inset;
	outline-color:#eee;
	height:360px;
	padding:10px;
	overflow:scroll;
}
.tool{
	width:48px;
	text-align:center;
	top:50%;
	margin-top:-40px;
	position:absolute;
}
.tool-right{
	margin-top:-80px;
}
.tool .btn{
	width:40px;
	margin-top:5px;
	font-size:13px;
	padding:5px;
}
.tool .btn-delete-rule{
	margin-right:15px;
}
.tool .tool-icon{
	width:100%;
	padding:0;
	margin:0;
}
.rule-box .selected{
	background-color: rgba(77, 29, 144, 0.35);
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.footer{
	margin: 20px 0;
}
.footer .btn{
	margin-right:10px;
}
.merchant-title{
	color:#d73925;
	font-weight:bold;
}
#strategy_table_filter {
	display: none;
}
.btn-save,.btn-edit{
	margin-right: 15px;
}
.btn-delete {
	margin-left: 15px;
}
.search {
	display: none;
}
.copy-strategy-form .table-condensed th, .copy-strategy-form .table-condensed td{
	line-height:30px;	
}
.copy-strategy-form .form-horizontal .control-label{
	text-align:left !important;
}
.copy-strategy-form  .btn-add-merchant{
	margin-top:3px;
}