body{
	margin: 0;
	padding: 0 .2em;
	background: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
input{
	outline: none;
}
#header{
	background: #fff;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}
#header h3{
	margin: 10px 5px;
	text-align: center;
	font-size: 1.2em;
	height: 5vh;
	line-height: 5vh;
}
.clone, .noData, .pageContainer{
	display: none;
}
.container{
	font-size: 14px;
	max-height: 65vh;
	overflow-y: auto;
}
.container .resultPart{
	background: #fff;
	margin: .5em;
	padding: .5em .5em;
	border-radius: .3em;
}
.btn-confirm{
	position: absolute;
	bottom: 10vh;
	width: 98%;
	font-size: 14px;
}
.weui-footer{
	position: absolute;
	bottom: 2vh;
	width: 100%;
}
.comfirm-constract{
	margin-top: 1em;
	text-align: center;
}
.noData{
	margin-top: 10vh;
	overflow: hidden;
}
.noData .noDataImg{
	width: 160px;
	height: 151px;
	float: left;
	background-image: url('../../images/error.png');
	margin-right: 2em;
}
.noData .noDataInfo{
	margin: 2em 1em 0 0;
}
.noDataHref > p{
	cursor: pointer;
	margin-top: 1em;
	color: #06c;
}
