body{
	margin: 0;
	padding: 0;
}
input{
	outline: none;
}
#header{
	background: #fff;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #ccc;
}
#header header{
	border-bottom: 1px solid #ccc;
	padding: 0;
	position: relative;
}
#header h3{
	margin: 10px 5px;
	text-align: center;
	font-size: 1.2em;
	height: 5vh;
	line-height: 5vh;
}
#header header .pageInfo{
	position: absolute;
	right: 1em;
	bottom: .2em;
}
.select{
	text-align: left;
	line-height: 4em;
	padding-left: .5em;
	position: relative;
}
.select input{
	height: 1.5em;
	border: none;
	font-size: 16px;
	max-width: 50vw;
}
.merchantStrategy{
	margin: 0;
}
.addPart, .deletePart{
	position: absolute;
	top: 0;
	padding: 0 1em;
	font-size: 16px;
}
.addPart{
	right: 4em;
}
.deletePart{
	right: 1em;
}

