body{
	margin: 0;
	padding: 1em 0 !important;
	font-size: 14px;
	background: url('/microgravity-public/dev/commercial_temp/list/background.jpeg') no-repeat center;
	/* background: url('./background.jpeg') no-repeat center; */
	display: none;
	background-size: auto 100%;
}
.page-header{
	animation: headerAnimate 2s;
	position: relative;
	color: #fff;
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
	font-size: 36px;
	font-weight: 500;
}
.col-md-4, .col-sm-12, .col-xs-12{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px){
	.container{
		width: 750px;
	}
}
@media (min-width: 992px){
	.col-md-4{
		width: 33.3333%;
		float: left;
	}
	.container{
		width: 970px;
	}
}
@media (min-width: 1200px){
	.container{
		width: 1170px;
	}
}
.product-table{
	padding-bottom: 30px;
	/* opacity: 0.7; */
	/* transition: all .4s ease-in-out; */
}
.product-table .product-header{
	position: relative;
	background: #34495e;
	padding: 22px;
	text-align: center;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.product-table .product-header .product-title{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	margin: 15px 0;
}
.product-table .product-header .product-price{
	font-size: 40px;
	color: #fff;
	position: relative;
	text-align: center;
	margin: 10px 0;
}
.product-table .product-header .product-price sup{
	font-size: 24px;
	position: relative;
	top: -30px;
	color: #bdc3c7;
}
.product-table .product-header .product-price span{
	font-size: 16px;
	color: #bdc3c7;
	text-transform: uppercase;
}
.product-table .product-info{
	padding: 20px 0 40px 0;
	background: #fff;
	border: 1px solid #e3e3e3;
}
.product-table .product-info ul{
	padding: 0;
	display: table;
	margin: 0 auto;
}
.product-table .product-info ul li{
	list-style: none;
	border-bottom: 1px solid #eaeceb;
	color: #bdc3c7;
	font-size: 16px;
	line-height: 42px;
}
.product-table .product-info ul li span{
	color: #34495e;
}
.product-table .product-info ul li b{
	font-weight: normal;
}
